{% extends "base.html" %}

<!--  indexing policies for search engines -->
{% block extrahead %}
<!-- link rel="mask-icon" href="assets/fotc_icon.svg" -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7e56c2">
<meta name="apple-mobile-web-app-title" content="Friends of Toowong Cemetery">
<meta name="application-name" content="Friends of Toowong Cemetery">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#7e56c2">

<!--   <meta property="robots" content="noindex, nofollow" />  -->
{% endblock %}

<!--   announcement bar including arbitrary HTML and text at the top of the page  -->

{% block announce %}
<p>This site is under construction. Please view the Official Friends of Toowong Cemetery site: <a href="https://www.fotc.org.au">https://www.fotc.org.au</a></p>
{% endblock %}
