# Caches and logs

.cache

# macOS internals
# .DS_Store

# Build files. Commented out to build locally as workflow not triggering. Social does build locally so cards are lost. 
# /site

# Source data files used to load GraphDB
/source-data

# Source documents
/source-documents
/source-images
/portion-book

# Draft pages

/drafts
