# Caches and logs

.cache

# macOS internals
# .DS_Store

# Build files.  
/site

# Source data files used to load GraphDB
/source-data

# Source documents
/source-documents
/source-images
/portion-book
/docs/assets/historic-maps/hi-res

# Draft pages

/drafts

# Templates

/snippets/sem/templates
