<!-- tested at https://search.google.com/test/rich-results -->


    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "Tragically Taken - A guided heritage tour through Toowong Cemetery",
      "startDate": "2022-03-06T10:30+10:00",
      "endDate": "2022-03-06T12:00+10:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@type": "Place",
        "name": "Toowong Cemetery",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Soldier's Parade, Toowong Cemetery",
          "addressLocality": "Toowong",
          "postalCode": "4066",
          "addressRegion": "Queensland",
          "addressCountry": "Australia"
        }
      },
      "image": [
        "https://example.com/photos/1x1/photo.jpg",
        "https://example.com/photos/4x3/photo.jpg",
        "https://example.com/photos/16x9/photo.jpg"
       ],
      "description": "Wandering amongst Toowong Cemetery's graves, you come across gravestones with inscriptions alluding to a sudden and tragic loss of a loved one. This guided heritage tour looks at the events that inspired some of those inscriptions.",
      "offers": {
        "@type": "Offer",
        "url": "https://1871fotc.github.io/guided-tours/",
        "price": "0",
        "priceCurrency": "AUD",
        "availability": "https://schema.org/InStock",
        "validFrom": "2022-01-01T12:00"
      },
      "performer": {
        "@type": "PerformingGroup",
        "name": "Friends of Toowong Cemetery"
      },
      "organizer": {
        "@type": "Organization",
        "name": "Friends of Toowong Cemetery",
        "url": "https://1871fotc.github.io/"
      }
    }
    </script>

<!-- rescheduled - new start and end with previous start -->


    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "Tragically Taken - A guided heritage tour through Toowong Cemetery",
      "startDate": "2022-04-01T10:30+10:00",
      "endDate": "2022-04-01T12:00+10:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventRescheduled",
      "previousStartDate": "2022-03-06T10:30+10:00",
      "location": {
        "@type": "Place",
        "name": "Toowong Cemetery",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Soldier's Parade, Toowong Cemetery",
          "addressLocality": "Toowong",
          "postalCode": "4066",
          "addressRegion": "Queensland",
          "addressCountry": "Australia"
        }
      },
      "image": [
        "https://example.com/photos/1x1/photo.jpg",
        "https://example.com/photos/4x3/photo.jpg",
        "https://example.com/photos/16x9/photo.jpg"
       ],
      "description": "Wandering amongst Toowong Cemetery's graves, you come across gravestones with inscriptions alluding to a sudden and tragic loss of a loved one. This guided heritage tour looks at the events that inspired some of those inscriptions.",
      "offers": {
        "@type": "Offer",
        "url": "https://1871fotc.github.io/guided-tours/",
        "price": "0",
        "priceCurrency": "AUD",
        "availability": "https://schema.org/InStock",
        "validFrom": "2022-01-01T12:00"
      },
      "performer": {
        "@type": "PerformingGroup",
        "name": "Friends of Toowong Cemetery"
      },
      "organizer": {
        "@type": "Organization",
        "name": "Friends of Toowong Cemetery",
        "url": "https://1871fotc.github.io/"
      }
    }
    </script>

<!-- Self-guided tourtested at https://search.google.com/test/rich-results -->


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "tour Name - A self-guided heritage tour through Toowong Cemetery",
  "startDate": "2022-03-06T10:30+10:00",
  "endDate": "2022-03-06T12:00+10:00",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "eventStatus": "https://schema.org/EventScheduled",
  "location": {
    "@type": "Place",
    "name": "Toowong Cemetery",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Soldier's Parade, Toowong Cemetery",
      "addressLocality": "Toowong",
      "postalCode": "4066",
      "addressRegion": "Queensland",
      "addressCountry": "Australia"
    }
  },
  "image": [
    "https://example.com/photos/1x1/photo.jpg",
    "https://example.com/photos/4x3/photo.jpg",
    "https://example.com/photos/16x9/photo.jpg"
   ],
  "description": "Wandering amongst Toowong Cemetery's graves, you come across gravestones with inscriptions alluding to a sudden and tragic loss of a loved one. This guided heritage tour looks at the events that inspired some of those inscriptions.",
  "offers": {
    "@type": "Offer",
    "url": "https://1871fotc.github.io/guided-tours/",
    "price": "0",
    "priceCurrency": "AUD",
    "availability": "https://schema.org/InStock",
    "validFrom": "2022-01-01T12:00"
  },
  "organizer": {
    "@type": "Organization",
    "name": "Friends of Toowong Cemetery",
    "url": "https://1871fotc.github.io/"
  }
}
</script>
