<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "Colonel Samuel Wensley Blackall",
  "temporalCoverage": "1809/1871",
  "image": [
    "https://1871fotc.github.io/assets/logo/fotc-1x1.png",
    "https://1871fotc.github.io/assets/logo/fotc-banner-4x3.png",
    "https://1871fotc.github.io/assets/logo/fotc-banner-16x9.png"
   ],
  "datePublished": "2010-09-17", 
  "dateModified": "2022-04-01",
  "author": [{
    "@type": "Organization",
    "url": "https://1871fotc.github.io/",
    "name": "Friends of Toowong Cemetery Association Inc."
    }]
}
</script>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "Colonel Samuel Wensley Blackall",
  "temporalCoverage": "????/1871",
  "image": [
    "https://1871fotc.github.io/assets/logo/fotc-1x1.png",
    "https://1871fotc.github.io/assets/logo/fotc-banner-4x3.png",
    "https://1871fotc.github.io/assets/logo/fotc-banner-16x9.png"
   ],
  "datePublished": "2015-02-05",
  "dateModified": "2022-04-01",
  "author": [{
    "@type": "Organization",
    "url": "https://1871fotc.github.io/",
    "name": "Friends of Toowong Cemetery Association Inc."
    }]
}
</script>
