<!-- only put this on one page -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://1871fotc.github.io/",
  "sameAs": ["https://www.facebook.com/1871fotc/", "https://twitter.com/1871fotc", "https://github.com/1871fotc"],
  "logo": "https://1871fotc.github.io/assets/fotc.png",
  "image": [
    "https://1871fotc.github.io/assets/logo/fotc-1x1.png",
    "https://1871fotc.github.io/assets/logo/fotc-banner-4x3.png",
    "https://1871fotc.github.io/assets/logo/fotc-banner-16x9.png"
   ],
  "name": "Friends of Toowong Cemetery Association Inc.",
  "description": "Friends of Toowong Cemetery is a volunteer group that discover and share the history and stories of Toowong Cemetery.",
  "slogan": "Discover and share the history and stories of Toowong Cemetery",
  "email": "mailto:inquiries@fotc.org.au",
  "telephone": "0439998053",
  "address": "P.O. Box 808, Toowong, Qld, 4066",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "09:00",
      "closes": "17:00"
    }
  ]
}
</script>
